.Header1{
    height:60px;
}
.Body1{
    height:1000px;
}
.Body2{
    height:900px;
}
.Footer{
    height:50px;
}
.Meunu{
    height:200px;
}
.aa{
    border-bottom: 0.5px solid;
    color: red;
}
.Body1--Style {
    height: 500px;
    background-position: auto;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.6));
}